/***************************
	   Import AC SCSS
****************************/

#AC_App {
	> * {
		width: $FIT;
	}
	#banner {
		width: 75%;
		margin-top: $Gap;
	}

	.footer {
		margin: $Gap 0;
		p {
			margin-top: $Gap;
		}
	}

/***************************
	 		Main
****************************/

	text-align: center;
	background-image: url(../assets/images/AC_App/light-texture.jpg);
	line-height: 1.4;
	color: #784011;
	font-family: Fink, sans-serif;

	button {
		font-family: Fink, sans-serif;
	}

	#start {
	    max-height: $MAX;
	    padding: 1em;
		overflow: hidden;
	}

	#start img[src*="button"] {
		width: $MAX;
	    padding: 1rem;
	    @include BORDER-RAD(50%);
	    @include TRANSITION(all 0.3s)
	}

	#start img[src*="button"]:hover {
		@include TRANSFORM(1.2);
	}

	.page {
		button {
			width: 100%;
		}
	}

/***************************
          Clock
****************************/
	
	.title {
		font-size: 2em;
	}

	.clock {
			#clockPhase {
				width: 50%;
			}

		span {
			line-height: 50px;

			@include BORDER-RAD($MAX);
			border: 4px groove $BORDER_COLOR;
			color: $BORDER_COLOR;
			text-align: center;
			padding: 0 10px;
		}

		i {
			font-size: 3rem;
			padding: 0;
		}

		.radio {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 51%;
			#songPhase {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0; top: 0;
			}
		}

		.btn-danger {
			margin: $Gap 0;
		}
	}
	.generation {	
		h1 {
			font-size: 2rem;
		}

		.genTitle {
			font-size: 1.4rem;
			margin: 5px;
		}

		article {
			width: $FIT;
			display: inline-block;
			margin-bottom: $Gap;
			
			@include BORDER-RAD(0, $Round, $Round, $Round)
			@include SHADOW(10px, 10px, 43px, 0px, rgba(0,0,0,0.40));
		}
	}

	.letter {
		background-image: url(../assets/images/AC_App/letter_bg.jpg);
		background-size: 100%;

		h2 {
			text-decoration: underline;
			font-size: 2rem;
		}

		form {
			font-size: 1.4rem;
		}
	}

/***************************
            Guide
****************************/
	#guide {
		text-align: center;
		text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);

		p {
			font-size: 1.2em;
			line-height: 200%;
			padding: 10px;
		}
	}

	.rLinks {
		width: $FIT;
		padding: 0 $Gap;
		margin-bottom: $Gap;
		border: black groove 2px;
	}

/***************************
            API's
****************************/


	.delete-link {
	  	font-size: x-small;
	}

	.blog-post {
		@include SHADOW(4px 3px 15px 0px rgba(0,0,0,0.75));
		@include BORDER-RAD(5px);
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		background: white;
	  	border: 1px solid lightsteelblue;
	  	
	  	padding: 0 5px;

		h3 {
			margin-top: $Gap;
			font-weight: bold;
		}

		h6 {
			font-style: italic;
			color: lightgrey;
		}

		p {
			margin: 8px 0;
		}

		img{
			width: $FIT;
		}
	}

	.bigass-button {
		position: relative;
		width: 10rem;
		height: 60px;
		padding: 0;
		font-size: 22px;
		color: white;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		border: 0;
		cursor: pointer;
	}

	.action-button {
		@extend .bigass-button;
		margin: 20px 0;
		background: #3498db;
		border-bottom: 2px solid #2a8bcc;
		@include SHADOW(inset 0 -2px #2a8bcc);
	}

	.link-button {
		@extend .action-button;
		background-image: url('../assets/images/AC_App/right-arrow-white.png');
		background-position: right;
		background-repeat: no-repeat;
	}

	.cancel-button {
		@extend .bigass-button;
		margin: 20px 0;
		background: #9CA1A5;
		border-bottom: 2px solid #6A6C6D;
		@include SHADOW(inset 0 -2px #6A6C6D);
	}

	.post-form {
		display: block;
		padding-right: 13px;

		.post-field {
			font-size: 1rem;
			width: $MAX;
			margin: 5px;
		}
	}
}