/***************************
          Flex-box
****************************/

.wrapper {
	@include FLEXBOX;
	@include FLEX-FLOW(row wrap);
	> * {flex: 1 $MAX;}
}

.showcase {
	@include FLEXBOX;
	@include FLEX-FLOW(row wrap);
	@include ALIGN-ITEMS(center);
	> * {flex: 1 $MAX;}
  	img {order: 1; flex: 1 auto;}
  	h2 {order: 2; flex: 11 auto;}
  	p {order: 3;}
}

.aside {
	@include FLEXBOX;
	@include FLEX-FLOW(column);
	@include JUSTIFY(space-around);
}

#AC_App, #AC_App #guide {
	@include FLEXBOX;
	@include FLEX-FLOW(column);
	@include FLEX-CENTER;
}

#UT_App {
	.nav {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
		@include FLEX-CENTER;
	}
	#flickr,
	#tumblr,
	#artist1,
	#artist2 {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
		@include FLEX-CENTER;
	}

	#hub div {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
		@include JUSTIFY(space-between);
		@include ALIGN-ITEMS(center);
	}

	.contact {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
		@include FLEX-CENTER;
	}

	#faq {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
	}

	.controls {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
		@include ALIGN-ITEMS(center);
	}

	#musicbox {
		@include FLEXBOX;
		@include FLEX-FLOW(column);
		@include FLEX-CENTER;
	}
}

/***************************
	  FlexBox Queries
****************************/

@media (min-width: 600px) {
	.aside { flex: 1 auto; }
}

@media (min-width: 640px){
	#AC_App {
		.page {
			@include FLEXBOX;
			@include FLEX-FLOW(column);
			@include FLEX-CENTER;
		}
	}
	#UT_App {
		/* Tuned Gallery */
		.page {
			@include FLEXBOX;
			@include FLEX-FLOW(column);
			@include FLEX-CENTER;
		}
		#tumblr,
		#flickr,
		#artist1,
		#artist2 {
			@include FLEX-FLOW;
			@include JUSTIFY(space-around);
			@include ALIGN-CONTENT(flex-end);
		}
	}
}

@media (min-width: 768px) {
	.main { 
		@include FLEX(9 0px);
	}
	.aside { 
		order: 1;
	}
	.main { order: 2; }
	footer { order: 3; }

	#UT_App {
		.mymenu, 
		.nav,
		#musicbox {
			@include FLEXBOX;
			@include FLEX-FLOW;
			@include ALIGN-ITEMS(center);
		}

		.mymenu, 
		.nav {
			@include JUSTIFY(center);
		}

		#musicbox {
			@include JUSTIFY(space-around);
		}

		#musicbox iframe[src*='podsnack'] {
			@include FLEX(3, 0, 0)
		}

		#musicbox iframe[src*='spotify'] {
			@include FLEX(1, 0, 0)
		}
	}
}

@media (min-width: 1024px) {
	#AC_App {
  		.clockTime {
  			@include FLEXBOX;
  			@include JUSTIFY(center);
  		}
  	}
}