@font-face {
  	font-family: Fink;
  	src: url("../assets/fonts/FinkHeavy.otf");
}

@font-face {
  	font-family: Lato;
  	src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: DTM-Sans;
	src:url("../assets/fonts/dtm-sans.otf");
}

@font-face {
	font-family: "8bitoperator Regular";
  	src:url("../assets/fonts/fonts8bitoperator.eot?") format("eot"),
      	url("../assets/fonts/8bitoperator.woff") format("woff"),
      	url("../assets/fonts/8bitoperator.ttf") format("truetype"),
      	url("../assets/fonts/8bitoperator.svg#8bitoperatorRegular") format("svg");
  	font-weight:normal;
  	font-style:normal;
}