/***************************
	   Import Main SCSS
****************************/
* {
	box-sizing: border-box;
	padding: 0;
	list-style: none;
	a:link,
	a:hover,
	a:active,
	a:visited {
		text-decoration: none;
	}
}

/***************************
	 		Main
****************************/

body {
	background: black;
	color: #ffffff;
}

.aside {
	width: 10%;
	background-color: #222;
	border-radius: 20px;
	border-style: inset;
	margin: $Gap;
	margin-right: 10px;
	img[src*="icon"] {
		width: 42px;
		opacity: .60;
		-webkit-transition: width .75s;
		transition: width .75s;
	}
	li:hover {
		img[src*="icon"] {
			width: 60px;
			opacity: 1.0;
		}
	}
	
	/*Sets Active Icon to stay Max size**/
	.active img[src*="icon"] {
		width: 60px;
		opacity: 1.0;
	}
	.active span {
		display: block;
		color: red;
	}
}

.main {
	margin: 20px 10px;
}

.showcase {
	img[src*="Fav"] {
		width: 42px;
		height: 42px;
		margin-right: 20px;
	}
	p {
		text-align: center;
	}
}

/***************************
  Header/ Siderbar / Footer
****************************/

header {
	width: $MAX;
	height: $MAX;
}

.Banner {
	max-width: 20rem;
	max-height: $MAX;
	width: 80%;
}

.Banner[src*="geek"] {
	margin-bottom: -30px;
}

footer {
	margin-top: $Gap;
}