/***************************
	  Media Queries
****************************/

/***************************
			320px
****************************/

@media (max-width: 321px){
	.main {
		padding: 10px 0; 
	}

	#AC_App {
		.clockTime {
			font-size: 1rem;
		}
	}

	#UT_App {
		#hub {
			div, #purchase iframe {
				margin: $Gap 0;
			}
		}

		.nav {
			margin: 0;
		}
	}
}

@media (max-width: 340px){
	//Fixes wierd issue with image breaking wierd on page
	.showcase {
		img[src*="Fav"] {
			max-width: 42px;
		}
	}
}

/***************************
	 		640px
****************************/

@media (min-width: 640px){
	#AC_App {
		
		.btn-danger {
			font-size: 1.5rem;
		}
		
		#app {
			width: $FIT;
		}
		
		.clock {
			span {
				font-size: 2.5rem;
			}
		}
		
		.generation {
			.genTitle {
			font-size: 1.7rem;
			}
			h1 {
				font-size: 2.5rem;
			}
			img {
				width: 60%;
			}
		}
		
		.blog-post {
			font-size: 2.5rem;
			width: 45rem;
			
		}
		
		.footer nav .btn,
		.footer p {
			font-size: 2.5rem;
		}
	}

	#UT_App {
		#tumblr img,
		#flickr img,
		#artist1 img,
		#artist2 img {
			max-width: 40rem; 
		}

		#purchase iframe {
			width: 400px;
		}
	}
}

/***************************
			768px
****************************/

@media (max-width: 767px) {
	.aside {
		li { height: 36px; }
		li img { display: none; }
	}
}

@media (min-width: 768px) {
	.main {
        /*navbar background removed no longer needs big gap between items*/ 
		    //padding-left: $Gap;
		.content {
			max-width:95%;
		    max-height: 700px;
		    overflow-y: auto;
		    overflow-x: hidden;
		    &::-webkit-scrollbar {
    			width: 1em;
			}
			 
			&::-webkit-scrollbar-track {
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color: darkgrey;
			  outline: 1px solid slategrey;
			}
		}
	}
	.aside { 
		height: 750px;
		span { display: none; }
		li:hover {
			span {
				display: block;
				color: red;
			}
		}
	}
    
    .navbar {
        border: none;
    }

    .navbar-inverse {
        /**Hide Background Grey color of inverse 
            to blend icons with content.**/
        background: none;
    }
	

	#AC_App {

        #banner {
			max-width: 300px;
		}
        #start img[src*="button"] {
            max-width: 500px;
        }
		.generation {
			dd, .genTitle {
				font-size: 2.2em;
			}
			button {
				font-size: 2em;
			}
		}

		#guide {
			font-size: 2rem;
			h3 {
				font-size: 2em;
			}
		}

		.title {
			font-size: 2.5em;
		}
	}

	#UT_App {

		.nav li {
			
		}
		#purchase iframe {
			width: 500px;
			height: 320px;
		}

		#musicbox iframe[src*='podsnack'] {
			padding: 0 10px;
		}
	}
}

/***************************
	 	  960px
****************************/

@media (min-width: 960px) {
	#UT_App {
		.mymenu li,
		.mailbox {
			margin-right: 10px;
			font-size: 2.2rem;
		}
	}
}

/***************************
		    1024px
****************************/

@media (min-width: 1024px) {

	.main { 
		.content {
		    max-height: 900px;
		}
	}

	#AC_App {
  		.blog-post {
    		font-size: 3rem;
    		width: 20em;
    		h3 {
    			font-size: 3rem;
    		}
		}
	}

	#UT_App {
		.container {
			width: 100%;
		}

		#purchase iframe {
			width: 700px;
			height: 320px;
		}

		iframe[src*='youtube'] {
			max-width: 600px;
			height: 300px;
		}
	  
		/*About adjust*/
		#about p {
			font-size: 3.5rem;
		}
		#about li span {
			font-size: 2rem;
		}

		/*Faq item adjust*/
		#faq h1 {
			font-size: 4.5rem;
		}

		#faq ul {
			font-size: 2.4rem;
		}

		/*Contact page div adjust*/
		#c-piece-1 {
			width: 70%;
		}
	}
}

/***************************
		    1024px
****************************/

@media (min-width: 1024px) {

}