//@import "ac-app";

$Gap: 20px;
$Max: 100%;

* {
	box-sizing: border-box;
	padding: 0;
	list-style: none;
}

/***************************
	 			Main
****************************/

html {
	background: #000000;
}

#page {
	width: 80%;
}

body {
	color: #ffffff;
}

.aside {
	width: 10%;
	background-color: #222;
	border-radius: 20px;
	border-style: inset;
	img[src*="icon"] {
		width: 42px;
		opacity: .60;
		-webkit-transition: width .75s;
		transition: width .75s;
	}
	img[src*="icon"]:hover {
		width: 60px;
		opacity: 1.0;
	}
	/*Sets Active Icon to stay Max size**/
	.active img[src*="icon"] {
		width: 60px;
		opacity: 1.0;
	}
	.active span {
		display: block;
		color: red;
	}
}

.showcase {
	img[src*="Fav"] {
		width: 42px;
		height: 42px;
		margin-right: 20px;
	}
	p {
		text-align: center;
	}
}

/***************************
          Flex-box
****************************/

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	> * {
		padding: 10px;
		flex: 1 $Max;
	}
}

.showcase {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	> * {flex: 1 $Max;}
  	img {order: 1; flex: 1 auto;}
  	h2 {order: 2; flex: 11 auto;}
  	p {order: 3;}
}

.main {
	text-align: left;
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}



/***************************
  Header/ Siderbar / Footer
****************************/

header {
	width: $Max;
	height: $Max;
}

.Banner {
	max-width: 20rem;
	max-height: $Max;
	width: 80%;
}

.Banner[src*="geek"] {
	margin-bottom: -60px;
}

footer {
	margin-top: $Gap;
}

/***************************
	 		Media Queries
****************************/

@media all and (min-width: 600px) {
	.aside { flex: 1 auto; }
}

@media all and (max-width: 767px) {
	.aside {
		li img { display: none; }
	}
}

@media all and (min-width: 768px) {
	.main { 
		padding-left: $Gap;
		flex: 9 0px;
	}
	.aside { 
		order: 1;
		span { display: none; }
		img:hover + span {
			display: block;
			color: red;
		}
	} 
	.main { order: 2; }
	footer { order: 3; }
}