<div id="app">
    {{#if isStarted}}
        {{partial 'animalcrossing/clock'}}
        {{#if genShowing}}
            {{partial 'animalcrossing/gen/index'}}
            {{/if}}
    {{else}} 
        <div id="start">
            <a {{action 'start'}}>
                <img 
                    src="../assets/images/AC_App/kk_button_tumblr.png"  
                    onmouseover="this.src='../assets/images/AC_App/kk_button_tumblr.gif';"
                    onmouseout="this.src='../assets/images/AC_App/kk_button_tumblr.png';">
                </a>
            </div>
        {{/if}}
    </div> <!--End of AC App Div-->