<div class="clock row container-fluid">
	<button class="btn btn-danger col-sm-12" {{action 'end'}}>Quit</button>
    <div class="col-sm-8">
        <img id="clockPhase" src="https://raw.githubusercontent.com/Lone-DO/lone-do.github.io/ember/public/assets/images/AC_App/Timeline/AC%20clock.gif">
    </div>
	<div class="col-sm-4 v-center">
        <div class="clockTime col-xs">
            <span class="_t0 col-xs-1">L</span>
            <span class="_t1 col-xs-1">O</span>
            <i class="_t2 col-xs-2">:</i>
            <span class="_t3 col-xs-1">A</span>
            <span class="_t4 col-xs-1">D</span>
            <i class="_t5 col-xs-2">:</i>
            <span class="_t6 col-xs-1">N</span>
            <span class="_t7 col-xs-1">G</span>
        </div>
    </div>
	
	<div class="radio">
		<iframe id="songPhase" src=""></iframe>
	</div>
</div>
 
<h3>Generation Selector</h3>
<div class="row container  generation"></div>