<div id="guide">
	<h3>AcClock... README</h3>
	<p>
		The purpose of this project is to create a 3rd party App that brings the nostalgia to your Mobile/ PC.
		</p>
	<p>
		Bring back the Nostalgic tunes as we've known it in the past, Dynamic music that reflects with your local time just as had in the world of Animal Crossing. The Digital clock will be able to play along in your background throughout your day, or if you are wishing to change the mood, you will be able to manually change the clocks time.
		</p>
	<p>
		But what about the classics? There will be a theme feature that allows you to choose which Series you want to listen to and even have the overall view of the page change with it, more n more features to help give you the comfort & vibes from, Animal Crossing.
		</p>
	<p>
		The app version will host the files itself, and the Website will use API to pull the information. Later on there will be an option on both versions to choose Offline/ Online mode, otherwise testing will be done to  see which one overall performs the best and will be set as the default~
		</p>
	<div class="rLinks">
		<span>Remember to check out the wiki for full details <a href="https://github.com/Lone-DO/AC-Clock/wiki">Click me</a></span>
		<p>
			General Idea,
			<a href="http://tane.us/ac/wwcf.html"><li>Tane</li></a><br>
				Note that i recently found this site and have been discussing this site idea!<br><br>
			Nintendo Official Sites
			<a href="http://www.animal-crossing.com"><li>Official Site</li></a><br>
			Extra Sites
			<a href="http://www.pixelstalk.net/animal-crossing-wallpapers-hd/"><li>Wallpapers/ images</li></a><br>
			</p>
	    <p>
	        <a href="https://www.youtube.com/playlist?list=PL719681019F01F212">Original OST</a>
	    	</p>
	    <p>
	        <a href="https://www.youtube.com/playlist?list=PLoIp-AJdIshrKJ7O7h2DmXCS9POcR8lTZ">New Leaf OST</a>
	    	</p>
	    <p>
	        <a href="https://www.youtube.com/playlist?list=PLjZDKdtibWQ5MscZsybx1uU15IsLlSLzi">City Folk OST</a>
	    	</p>
		</div>
</div>