<div class="col-md-6">
  <div class="card bg-inverse col-md">
    <!--<img class="card-img-top hidden-md-down" src="../assets/images/AcFav.png" alt="Card image cap">-->
    <h5 class="card-header bg-inverse text-center">Featured</h5>
    <div class="card-block">
      <h4 class="card-title">Animal Crossing</h4>
      <p class="card-text">Creative application that brings the daily soundtracks of Animal Crossing back, and now it's here to stay for our daily endeavors unlike never before. Able to choose smoothly between the user's desired Generation, from the hit classics like, original Animal Crossing from GameCube, to City Folk from the WII U, and the latest New Leaf on the 3DS. Built with the MEEN stack, backend API through Mongodb.</p>

      <div class="pos-f-t">
        <div class="collapse" id="AC_App-Info">
          <div class="p-4">
            <div class="list-group">
              <div class="list-group-item">
                <strong>MEEN Stack</strong>:
                <span class="badge badge-default badge-pill px-2 py-2">Mongo</span>
                <span class="badge badge-default badge-pill px-2 py-2">Express</span>
                <span class="badge badge-default badge-pill px-2 py-2">Ember</span>
                <span class="badge badge-default badge-pill px-2 py-2">Node.js</span>
              </div>
              <div class="list-group-item">
                <span><strong>SASS</strong> : Modulated CSS</span>
              </div>
              <div class="list-group-item">
                <span><strong>jQuery</strong> : used with API controls</span>
              </div>
              <div class="list-group-item">
                <span><strong>ES2015</strong> : latest JavaScript practices</span>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-inverse bg-inverse">
          <button class="btn-outline-info navbar-toggler " type="button" data-toggle="collapse" data-target="#AC_App-Info" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>Essentials &omega;</span>
          </button>
        </nav>
      </div>
      <!-- Modal controller-->
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#ac-tunes">
        <img class="hidden-md-down hidden" width="150" src="../assets/images/AcFav.png">
        <span>Launch App</span>
      </button>
      <!-- Modal -->
      <div class="modal fade bg-inverse" id="ac-tunes" tabindex="-1" role="dialog" aria-labelledby="ac-tunes" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-inverse text-white">
              <h5 class="modal-title mx-auto" id="ac-tunes">Animal Crossing Tunes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
            </div>
            <div class="modal-body bg-inverse text-white">
              {{#ac-tunes}}{{/ac-tunes}}
            </div>
            <div class="modal-footer bg-inverse text-white">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div><!--/modal -->
    </div>
  </div>
</div>