<div class="carousel">
  <!-- Template for Carousel -->
  <div class="greeting">
    <p>Hello from the hidden corners of the internet.</p>
    <p>My name is Dayshawn, Code Name: Lone</p>
    <p>Web Developer with focus on Video Games & Web applications</p>
    <span></span>
  </div>
  <div class="prj-page">
    <div class="slide prj-1">{{partial "home/_actunes"}}</div>
    <div class="slide prj-2">{{partial "home/_utapp"}}</div>
    <div class="slide prj-3">{{partial "home/_sinmodapp"}}</div>
  </div>
  <div class="contact-page">
    <div class="slide">{{partial "legacy"}}</div>
  </div>
</div>