<div class="col-md-6">
  <div class="card bg-dark col-md">
    <div class="card-block">
      <h4 class="card-title">Sinmod Vote Roulette</h4>
      <p class="card-text">Testing 7 days to die Server API for data mining.</p>
      <!-- Modal controller-->
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#sinmod">
        <span>Preview data</span>
      </button>
      <!-- Modal -->
      <div class="modal fade bg-dark" id="sinmod" tabindex="-1" role="dialog" aria-labelledby="sinmod" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark text-white">
              <h5 class="modal-title mx-auto" id="sinmod">Sinmod Datamine</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
            </div>
            <div class="modal-body bg-dark text-white">
              {{render "sinmod"}}
            </div>
            <div class="modal-footer bg-dark text-white">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div><!--/modal -->
    </div>
  </div>
</div>
