/***************************
			About
****************************/

#UT_App {
    #about {
		/*font-size: 1rem;*/
        padding: 0 10px;
		letter-spacing: 3px;
		word-spacing: 1px;
		@media #{$mq-medium} {
            font-size: 2rem;
		}

        @media #{$mq-xlarge} {
		    p {
			    font-size: 3.5rem;
		    }
            li span {
			    font-size: 2rem;
		    }
	    }
	}

	img[src*="xscreen"],
	img[src*="logo"] {
		width: 100%;
		margin-bottom: 1.7rem;
		margin-top: 1.7rem;
	}

	#xscr5 span {
		word-spacing: -1px;
		color: grey;
        font-size: .7rem;
        @media #{$mq-medium} {
            font-size: 1.3rem;
		}
		
	}

	#xscr12 p {
		margin-bottom: 9.6rem;
	}

	#xscr12-end {
		margin-top: 30em;
	}

	#laugh {
		/*font-size: 2rem;*/
        font-size: 1.1rem;
		letter-spacing: -.6px;
        @media #{$mq-medium} {
            font-size: 2rem;
        }
	}
}