/***************************
			CONTACT
****************************/

#UT_App {
    .contact {
        @media #{$mq-medium} {
            font-size: 2.3rem;
        }
	}

	img[src*="fix"] {
		width: 70%;
		min-height: 6em;
	}

    #c-piece-1 {
        margin: auto;
    }

    #c-piece-email img {
        width: 80%;
    }

	#c-piece-email p {
		margin-bottom: 2em;
	}

	#c-piece-1 p,
	#c-piece-email,
	#c-piece-email p {
		width: 80%;
		margin: auto;
		text-align: center;
	}

    

	#backToFront p {
		color: yellow;
	}

	#c-piece-unrelated a {
		color: #03abfe;
	}

    @media #{$mq-xlarge} {
		/*Contact page div adjust*/
		#c-piece-1 {
			width: 70%;
		}
	}
}