/***************************
			FAQ
****************************/

#UT_App {
    #faq ul {
		text-align: left;
		
		margin-left: 3.58em;
		margin-bottom: 2em;

        @media #{$mq-medium} {
		    font-size: 1.58rem;
	    }

        /*Faq item adjust*/
        @media #{$mq-xlarge} {
		    font-size: 2.4rem;
	    }
	}

	#faq h1 {
		text-align: left;
        /*Faq item adjust*/
        @media #{$mq-xlarge} {
		    font-size: 4.5rem;
	    }
	}
}