/***************************
			FAQ
****************************/

#UT_App {
    #faq ul {
		text-align: left;
		font-size: 1.58rem;
		margin-left: 3.58em;
		margin-bottom: 2em;
	}

	#faq h1 {
		text-align: left;
	}
}