/***************************
			HEADER
****************************/

#UT_App {
    nav {
		.nav {
			a {
				padding: 5px;
				li {
					color: #9d9d9d;
					margin-bottom: 10px;
				}
			}
			.active li {
				color: white;
			}

             @media #{$mq-small} {
		        margin: 0;
	        }
		}
	}

	.mymenu  {
		font-size: 1.3rem;
		text-shadow: 0 1px 0 #ccc,
					 0 6px 1px rgba(0,0,0,.1),
					 0 0 5px rgba(0,0,0,.1),
					 0 1px 3px rgba(0,0,0,.3),
					 0 3px 5px rgba(0,0,0,.2),
					 0 5px 10px rgba(0,0,0,.25),
					 0 10px 10px rgba(0,0,0,.2),
					 0 20px 20px rgba(0,0,0,.15);
         /*background-color: #222;*/
        
         .navbar-nav {
            margin: 0 auto;
         }
	}

	#nav_merch,
	#nav_merch a:visited,
	#nav_merch a:link {
		color: #fdb2bf;
	}

	#nav_merch a span {
		font-size: .8em;
	}

    @media (min-width: 960px) {
        .mymenu li,
        .mailbox {
            margin-right: 10px;
            /*font-size: 2.2rem;*/
        }
    }
}