/***************************
			HUB
****************************/

#UT_App {
    .trailer {
        margin-bottom: 20px;
		#youtube {
            width: 100%;
			height: 220px;
            @media #{$mq-medium} {
                height: 320px;
            }
            @media #{$mq-large} {
                min-width: 480px;
                height: 320px;
            }
		}
	}

	img[src*="available"] {
		width: 100%;
		max-width: 574px;
		max-height: 205px;
	}

	#purchase iframe {
		min-height: 250px;
		min-width: 300px;

        @media (min-width: 499px) {
            //fix default widget height query
            height: 330px;
        }

        @media (min-width:575px) {
            //fix default widget width query
            min-width: 90%;
        }
	}

    @media #{$mq-xlarge} {
       	iframe[src*='youtube'] {
			max-width: 600px;
			height: 300px;
		}
	}
}
