/***************************
			HUB
****************************/

#UT_App {
    .trailer {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 51%;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0; top: 0;
		}
	}

	img[src*="available"] {
		width: 100%;
		max-width: 574px;
		max-height: 205px;
	}

	#purchase iframe {
		min-height: 200px;
		// min-width: 320px;

        @media #{$mq-large} {
            width: 500px;
			height: 320px;
        }

        @media #{$mq-xlarge} {
		    width: 700px;
			height: 320px;
	    }
	}

    @media #{$mq-small} {
        #hub {
		    div, #purchase iframe {
				margin: $Gap 0;
			}
		}	
	}

    @media #{$mq-xlarge} {
       	iframe[src*='youtube'] {
			max-width: 600px;
			height: 300px;
		}
	}
}