/***************************
		    Base Styles
****************************/
#UT_App {
		font-family: dtm-sans;
		text-align: center;
		color: rgba(255, 255, 255, 0.79);
        background-color: black;

	ul  {
		list-style: none;
		padding: 0;
	}

	iframe {
		border-style: none;
		border: 0;
		margin-top: 20px;
	}

     @media #{$mq-xlarge} {
		.container {
			width: 100%;
		}
	}
}