/***************************
			MUSICBOX
****************************/

#UT_App {
    #musicbox {
		font-family: '8bitoperator Regular';
	}

	#musicbox iframe {
		max-width: 100%;
	}

     @media #{$mq-large} {
		#musicbox iframe[src*='podsnack'] {
			padding: 0 10px;
		}
	}
}