/***************************
	   Import Main SCSS
****************************/
* {
	box-sizing: border-box;
	padding: 0;
	list-style: none;
	a:link,
	a:hover,
	a:active,
	a:visited {
		text-decoration: none;
	}
}

/***************************
	 		Main
****************************/

body {
	background: black;
	color: #ffffff;

    @media #{$mq-small} {
		background: red;
	}
}

.aside {
	width: 10%;
	background-color: #222;
	max-height: 500px;
	@include BORDER-RAD(20px);
	border-style: inset;
	margin: $Gap;
	margin-right: 10px;
	img[src*="icon"] {
		width: 42px;
		opacity: .60;
		@include TRANSITION(width .75s);
	}
	li:hover {
		img[src*="icon"] {
			width: 60px;
			opacity: 1.0;
		}
	}
	
	/*Sets Active Icon to stay Max size**/
	.active img[src*="icon"] {
		width: 60px;
		opacity: 1.0;
	}
	.active span {
		display: block;
		color: red;
	}

    @media (max-width: 767px) {
        li { height: 36px; }
        li img { display: none; }
    }

    @media #{$mq-large} {
		height: 750px;
		span { display: none; }
		li:hover {
			span {
				display: block;
				color: red;
			}
		}
	}
}

.main {
	margin: 20px 10px;
	text-align: left;
	.intro img {
		width: 100%;
        //Maintains Screen from stretching...
        max-width: 900px; 
	}

    @media #{$mq-small} {
		padding: 10px 0;
	}

    @media #{$mq-large} {
		/*navbar background removed no longer needs big gap between items*/ 
		    //padding-left: $Gap;
		.content {
			max-width:95%;
		    max-height: 700px;
		    overflow-y: auto;
		    overflow-x: hidden;
		    &::-webkit-scrollbar {
    			width: 1em;
			}
			 
			&::-webkit-scrollbar-track {
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color: darkgrey;
			  outline: 1px solid slategrey;
			}
		}
	}

    @media #{$mq-xlarge} {
        .content {
		    max-height: 900px;
		}
    }
}

.wrapper {
	font-weight: bold;
	text-align: center;
	> * {padding: 10px;}
}

.showcase {
	img[src*="Fav"] {
		width: 42px;
		// height: 42px;
		margin-right: 20px;
	}
	p {
		text-align: center;
	}

    @media (max-width: 340px){
	//Fixes wierd issue with image breaking wierd on page
	    img[src*="Fav"] {
			max-width: 42px;
		}
    }
}

/***************************
  Header/ Siderbar / Footer
****************************/

header {
	width: $MAX;
	height: $MAX;
}

.Banner {
	max-width: 20rem;
	max-height: $MAX;
	width: 80%;
}

.Banner[src*="geek"] {
	margin-bottom: -30px;
}

footer {
	margin-top: $Gap;
}

@media #{$mq-large} {
	.navbar {
        border: none;
    }

    .navbar-inverse {
        /**Hide Background Grey color of inverse 
            to blend icons with content.**/
        background: none;
    }	
}
