<h2 class="title">Animal Crossing Generations</h2>

{{!-- {{#link-to 'animalcrossing.gen.create'}}<button class="action-button">New Generation</button>{{/link-to}} --}}
{{!-- Removed till data structure is reworked again --}}
	
<div id="gens"></div>