/***************************
           MAIN
****************************/

#AC_App {

    text-align: center;
	background-image: url(../assets/images/AC_App/light-texture.jpg);
	line-height: 1.4;
	color: #784011;
	font-family: Fink, sans-serif;

    > * {
		width: $FIT;
	}

    #app {
         @media #{$mq-medium} {
		    width: $FIT;
	    }
    }

	#banner {
		width: 75%;
		margin-top: $Gap;

        @media #{$mq-large} {
		    max-width: 300px;   
	    }
	}

	.footer {
		margin: $Gap 0;
		p {
			margin-top: $Gap;
		}
	}

	button {
		font-family: Fink, sans-serif;
	}

	#start {
	    max-height: $MAX;
	    padding: 1em;
		overflow: hidden;
	}

	#start img[src*="button"] {
		width: $MAX;
	    padding: 1rem;
	    @include BORDER-RAD(50%);
	    @include TRANSITION(all 0.3s);

        @media #{$mq-large} {
		    max-width: 500px;   
	    }
	}

	#start img[src*="button"]:hover {
		@include TRANSFORM(1.2);
	}

	.page {
		button {
			width: 100%;
		}
	}

    @media #{$mq-medium} {
        .btn-danger {
		    font-size: 1.5rem;
	    }

		.footer nav .btn,
		.footer p {
			font-size: 2.5rem;
		}
	}
}