<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="wrapper">
	<header>
		<img class="Banner" src="../assets/images/scholarBanner.jpg">
		</header>
	<ul class="navbar navbar-inverse aside">
		{{#link-to 'home'}}
			<li>
				<img src="../assets/images/home_icon.png">
				<span>Home</span>
				</li>
			{{/link-to}}
		<!--HomeScreen-->
		{{#link-to 'projects'}}
			<li>
				<img src="../assets/images/bgCtroller_icon.png">
				<span>Projects</span>
				</li>
			{{/link-to}}
		<!--Projects-->
		{{#link-to 'animalcrossing'}}
			<li>
				<img src="../assets/images/leaf_icon.png">
				<span>Animal Crossing Clock</span>
				</li>
			{{/link-to}}
		<!--Animal Crossing-->
		{{#link-to 'undertale'}}
			<li>
				<img src="../assets/images/heart_icon.png">
				<span>Undertale</span>
				</li>
			{{/link-to}}
		<!--Undertale-->
		{{#link-to 'legacy'}}
			<li>
				<img src="../assets/images/writer_icon.png">
				<span>Legacy</span>
				</li>
			{{/link-to}}
			<!--Legacy/ Contact Page-->
		</ul>
	<div class="main">



		<div class="content">
		    {{outlet}}
		    </div>
			

  		</div>
	<footer>
		<img class="Banner" src="../assets/images/geekBanner.jpg ">
		<p>lone-do&trade;</p>
	    </footer>
    </div>