<header>
<!--	<img id="HBanner" src="../assets/images/scholarBanner.jpg">-->
	</header>

<body>
	{{outlet}}
	<h1>test</h1>
	</body>

<footer>
<!--	<img id="FBanner" src="../assets/images/geekBanner.jpg ">-->
	<p class="col-xs-12">&copy;2016 Lone-DO</p>
	</footer>