<body>
	<div class="wrapper">
		<header>
			<img class="Banner" src="../assets/images/scholarBanner.jpg">
			</header>
		<aside class="navbar navbar-inverse aside ">
			{{#link-to 'home'}}
				<li>
					<img src="../assets/images/home_icon.png">
					<span>Home</span>
					</li>
				{{/link-to}}
			<!--HomeScreen-->
			{{#link-to 'projects'}}
				<li>
					<img src="../assets/images/bgCtroller_icon.png">
					<span>Projects</span>
					</li>
				{{/link-to}}
			<!--Projects-->
			{{#link-to 'animalcrossing'}}
				<li>
					<img src="../assets/images/leaf_icon.png">
					<span>Animal Crossing Clock</span>
					</li>
				{{/link-to}}
			<!--Animal Crossing-->
			{{#link-to 'undertale'}}
				<li>
					<img src="../assets/images/heart_icon.png">
					<span>Undertale</span>
					</li>
				{{/link-to}}
			<!--Undertale-->
			{{#link-to 'legacy'}}
				<li>
					<img src="../assets/images/writer_icon.png">
					<span>Legacy</span>
					</li>
				{{/link-to}}
				<!--Legacy/ Contact Page-->
			</aside>
		<article class="main">
			
			{{outlet}}

  			</article>
		<footer>
			<img class="Banner" src="../assets/images/geekBanner.jpg ">
			<p class="col-xs-12">lone-do&trade;</p>
		</footer>
		</div>
	</body>