<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum ultrices malesuada. Duis fermentum porttitor erat, vitae lobortis libero mattis ac. In hac habitasse platea dictumst. Praesent suscipit gravida lorem, in cursus tellus rutrum ut. Nullam auctor lorem eget interdum lobortis. Ut aliquet interdum nunc a congue. Nullam egestas eget dolor a egestas. Proin elementum interdum posuere. Mauris maximus iaculis dapibus. Fusce elementum, turpis ac ornare mollis, justo ipsum faucibus sem, vel congue risus felis vitae dui. Proin convallis, odio quis rutrum scelerisque, quam leo scelerisque eros, non aliquet risus ligula in metus. Nunc leo neque, rhoncus sit amet vehicula semper, sagittis eu orci. Nullam a bibendum diam. Suspendisse efficitur gravida dui nec dignissim. Vivamus vel porta augue. Nullam at nisl volutpat, imperdiet purus a, imperdiet lorem.
	</p>
<p>
	Donec ac vestibulum elit, eu sodales ante. Quisque mollis auctor quam, a volutpat urna dignissim eu. Mauris tempor urna blandit, dictum ligula quis, elementum leo. Proin pretium pharetra diam, at finibus enim cursus sed. Aenean sed ultrices urna, a tempor neque. Sed porta neque a metus imperdiet condimentum. Quisque eleifend semper dapibus. Proin volutpat lacus vel ligula efficitur egestas. Morbi sed felis eu enim sodales luctus vel eget turpis. Vestibulum lobortis ex sit amet rutrum feugiat. Mauris feugiat metus lacus, eget luctus ligula ornare vitae. Sed lectus sem, posuere ut dignissim sed, pharetra eget neque. In semper, justo at ullamcorper fringilla, mauris nibh tincidunt turpis, at mollis orci quam at est. Quisque pulvinar placerat lacus ac dignissim.
	</p>

	{{#each album in model.albums}}
		{{gen-album album=album}}
	{{/each}}