<div id="main">
  <p>
    Hello from the hidden corners of the internet.
    My name is Dayshawn, Code Name: Lone
    Web Developer with focus on Video Games & Web applications
  </p>
</div>

<div id="code">
  {{partial "projects"}}
</div>

<div id="info">
  {{partial "legacy"}}
</div>