<h1>About Me</h1>
	<p>By Chance you have any inquiries or messages...</p>
	<p>Contact me via Email, I Check Daily! 
		<a href="mailto:lotussythe@gmail.com">lotussythe@gmail.com</a>
		</p>
	<p>
		<a href="https://www.linkedin.com/in/lone-do">Lone-DO @ LinkedIn</a>
		</p>
	<p>
		<a href="https://github.com/Lone-DO/">Lone-Do @ Github</a>
		</p>
	<p>
		<a href="https://twitter.com/Lone_Scholar">Lone-Do @ Twitter</a>
		</p>
