<h1>About Me</h1>
	<p>By Chance you have any inquiries or messages...</p>
	<p>Contact me via Email, I Check Daily!</p>

<div class="social-buttons row">
  <button class="btn btn-danger btn-social btn-google col-md-6"
          onclick="location.href='mailto:lotussythe@gmail.com;'">
    <span class="fa fa-google"></span> lotussythe@gmail.com
  </button>
  <button class="btn btn-info btn-social btn-twitter col-md-6"
          onclick="location.href='https://twitter.com/Lone_Scholar'">
    <span class="fa fa-twitter"></span> @Lone_Scholar
  </button>

  <button class="btn btn-dark btn-social btn-github col-md-6"
          onclick="location.href='https://github.com/Lone-DO?tab=overview&from=2016-12-01&to=2016-12-31'">
    <span class="fa fa-github"></span> Lone-DO
  </button>
  <button class="btn btn-primary btn-social btn-linkedin col-md-6"
          onclick="location.href='https://www.linkedin.com/in/lone-do'">
    <span class="fa fa-linkedin"></span> Lone-DO
  </button>
</div>