<div class="row">
    <div class="col-md-6">
        <div class="card bg-inverse col-md">
			<img class="card-img-top hidden-md-down" src="../assets/images/AcFav.png" alt="Card image cap">
			<h5 class="card-header bg-inverse text-center">Featured</h5> 
			<div class="card-block">
		    	<h4 class="card-title">Animal Crossing</h4>
				<p class="card-text">Creative application that brings the daily soundtracks of Animal Crossing back, and now it's here to stay for our daily endeavors unlike never before. Able to choose smoothly between the user's desired Generation, from the hit classics like, original Animal Crossing from GameCube, to City Folk from the WII U, and the latest New Leaf on the 3DS. Built with the MEEN stack, backend API through Mongodb.</p>
				
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#ac-tunes">
                    <img class="hidden-lg-down" width="150" src="../assets/images/writer_icon.png">
                    <span>Launch App</span>
                </button>

                <!-- Modal -->
                <div class="modal fade bg-inverse" id="ac-tunes" tabindex="-1" role="dialog" aria-labelledby="ac-tunes" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-inverse text-white">
                                <h5 class="modal-title" id="ac-tunes">Animal Crossing Tunes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="text-white">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-inverse text-white">
                                {{#ac-tunes}}{{/ac-tunes}}
                            </div>
                            <div class="modal-footer bg-inverse text-white">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!--/modal -->
                
			</div>
        </div>
	</div>
	
	 <div class="col-md-6">
		<div class="card bg-inverse col-md">
			<img class="card-img-top hidden-md-down" src="../assets/images/UndertaleFav.png" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title">Undertale</h4>
				<p class="card-text">Recreational Project that restructures the original Site to a more update formality. Built using Ember, my first project I've built as a Developer. Complete overhaul of hands-on coding and features that utilize API information for the user's discretion. Allows fans to post "Mail" on the site for the Undertale Devs to see, and others to respond to. Built with Ember.js, Backend localStorage.</p>
				{{#link-to 'home' class="btn btn-primary float-right"}}
				    <img class="hidden-lg-down" width="150" src="../assets/images/writer_icon.png">
				    <span>Launch App</span>
				{{/link-to}}
			</div>
	    </div>
	 </div>
</div>