<div class="showcase">
	<img src="../assets/images/AcFav.png">
	<h2>Animal Crossing</h2>
	<p>Creative application that brings the daily soundtracks of Animal Crossing back, and now it's here to stay for our daily endeavors unlike never before. Able to choose smoothly between the user's desired Generation, from the hit classics like, original Animal Crossing from GameCube, to City Folk from the WII U, and the latest New Leaf on the 3DS. Built with the MEEN stack, backend API through Mongodb.</p>
	</div>
<div class="showcase">
	<img src="../assets/images/UndertaleFav.png">
	<h2>Undertale</h2>
	<p>Recreational Project that restructures the original Site to a more update formality. Built using Ember, my first project I've built as a Developer. Complete overhaul of hands-on coding and features that utilize API information for the user's discretion. Allows fans to post "Mail" on the site for the Undertale Devs to see, and others to respond to. Built with Ember.js, Backend localStorage.</p>
	</div>