<div id="UT_App">
    <div class="header text-center ut_nav"><!--Top of Site-->
		{{#link-to 'undertale'}}
			<img id="logo" class="img-fluid hidden-sm-down" src="../assets/images/UT_App/undertale_logo.png">
		{{/link-to}}
        <nav class="navbar navbar-dark mymenu navbar-toggleable-sm"  role="navigation">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#UTnavbarNav" aria-controls="UTnavbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{#link-to 'undertale' class="navbar-brand"}}
                <img id="logo" class="img-fluid hidden-md-up" src="../assets/images/UT_App/undertale_logo.png">
            {{/link-to}}
            <div class="collapse navbar-collapse" id="UTnavbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {{#link-to 'undertale.about' class="nav-link"}} ABOUT {{/link-to}}
                    </li>
                    <li class="nav-item">
                        {{#link-to 'undertale.demo' class="nav-link"}} DEMO {{/link-to}}
                    </li>
                    <li class="nav-item" id="nav_merch">
                        <a class="nav-link" href="http://www.fangamer.com/collections/undertale">
                            MERCH<br />
                            <span>new!</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        {{#link-to 'undertale.contact' class="nav-link"}} CONTACT {{/link-to}}
                    </li>
                    <li class="nav-item">
                        {{#link-to 'undertale.faq' class="nav-link"}} FAQ! {{/link-to}}
                    </li>

                    {{!-- {{#link-to 'undertale.mailbox'}}
                    <li class="mail nav-item">
                        <img src="../assets/images/UT_App/mail-closed.ico">
                        {{/link-to}} --}} <!--temporarily removed till Adapter Fixed-->

                    <li class="nav-item">
                        {{#link-to 'undertale.gallery' class="nav-link"}} Gallery {{/link-to}}
                    </li>
                    <li class="nav-item">
                        {{#link-to 'undertale.musicbox' class="nav-link"}} ♫Musicbox♫ {{/link-to}}
                    </li>
                </ul>
            </div>
        </nav>


		</div>
	<div class="page"><!--UT Page-->
		<div>{{outlet}}</div>
		</div>
  	<div class="footer text-center"><!--UT Footer-->
		<nav>
			<ul>
				{{#link-to 'undertale.troubleshoot'}}
					<li><!-- TROUBLESHOOTING -->
						<img src="../assets/images/UT_App/troubleshoot.png">
						</li>
					{{/link-to}}
				<li>
					<a href="http://twitter.com/undertale">
						<img src="../assets/images/UT_App/twitterbutton.png"></a>

					<a href="http://undertale.tumblr.com/">
						<img src="../assets/images/UT_App/tumblrbutton.png"></a>

					<a href="http://store.steampowered.com/app/391540">
						<img src="../assets/images/UT_App/steambutton.png"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!--  Bottom of Site  -->