<div id="UT_App">
	<div class="header"><!--Top of Site-->
		{{#link-to 'undertale'}}
			<img id="logo" src="../assets/images/UT_App/undertale_logo.png">
			{{/link-to}}
		<nav class="navbar navbar-inverse mymenu" role="navigation">
			<ul class="nav navbar-nav">
				{{#link-to 'undertale.about'}}
					<li>ABOUT</li> 
					{{/link-to}}
				{{#link-to 'undertale.demo'}}
					<li>DEMO</li>
					{{/link-to}}
				<a href="http://www.fangamer.com/collections/undertale">
					<li id="nav_merch">MERCH<br>
						<span>new!</span>
						</li>
					</a>
				{{#link-to 'undertale.contact'}}
					<li>CONTACT</li>
					{{/link-to}}
				{{#link-to 'undertale.faq'}}
					<li>FAQ!</li>
					{{/link-to}}
				{{#link-to 'undertale.mailbox'}}
					<li class="mail">
						<img src="../assets/images/UT_App/mail-closed.ico">
						</li>
					{{/link-to}}
				{{#link-to 'undertale.gallery'}}
					<li>Gallery</li>
					{{/link-to}}
				{{#link-to 'undertale.musicbox'}}
					<li>♫Musicbox♫</li>
					{{/link-to}}
				</ul>
			</nav>
		</div>
	<div class="page"><!--UT Page-->
		<div>{{outlet}}</div>
		</div>
  	<div class="footer"><!--UT Footer-->
		<nav>
			<ul>
				{{#link-to 'undertale.troubleshoot'}}
					<li><!-- TROUBLESHOOTING -->
						<img src="../assets/images/UT_App/troubleshoot.png">
						</li>
					{{/link-to}}
				<li>
					<a href="http://twitter.com/undertale">
						<img src="../assets/images/UT_App/twitterbutton.png"></a>

					<a href="http://undertale.tumblr.com/">
						<img src="../assets/images/UT_App/tumblrbutton.png"></a>

					<a href="http://store.steampowered.com/app/391540">
						<img src="../assets/images/UT_App/steambutton.png"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!--  Bottom of Site  -->